<!DOCTYPE html>
<html>
  <head>
    <title>ll</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% for(var i=0;i<title.length;i++){ %>
    <p><a href= <%= title[i] %> ><%= title[i] %></p>
    <% } %>
  </body>
</html>
